:root {
    --menu_text: #2C2C2C;
    --hero_color: #B4D0E7;
    --btn_color: #0061FF;
    --light_color: #FEFEFF;
    --team_square_color: #F5F5F5;
    --team_footer_color: #61082B;
    --period_color: #6A7986;
}

/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1440px;
    font-family: 'Open-Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--menu_text);
}

header {
    padding: 0.75rem;
}

img {
    max-width: 100%;
}

/* #region Utility */

.container {
    width: 70%;
    max-width: 960px;
    margin: 0 auto;
}

.container_large {
    width: 90%;
    max-width: 1160px;
    margin: auto;
}

.row {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

[class^="col_"] {
    float:left;
}

.col_33 {
    width: 33.33%;
}

.col_40{
    width: 40%;
}

.col_50 {
    width: 50%;
}

.col_60 {
    width: 60%;
}

.col_100 {
    width: 100%;
}

.who {
    border: 1px solid black;
    border-bottom: 0;
    padding: 0.75rem;
}

.types {
    border: 1px solid black;
}

.types_text {
    width: 80%;
    margin: auto;
}

/* Text */

ul.inline_list {
    list-style: none;
    display: inline-block;
}

ul.inline_list>li {
    display: inline-block;
}

.text_right {
    text-align: right;
}

.who {
    text-align: center;
}

.types h3 {
    margin-top: 1.5rem;
}

.types h5 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

p.period {
    color: var(--period_color);
}

.types_text p {
    font-size: 0.85rem;
    margin: 1rem 0;
}

.types_text a {
    text-decoration: underline;
    color: blue;
}


/* #region Header */

.navigation .menu_left a,
.navigation .menu_right a{
    padding: 0.5rem;
}

.navigation .logo>img {
    vertical-align: sub;
}

.btn {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

.btn_primary {
    background-color: var(--btn_color);
    color: var(--light_color);
}

.padd_1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* #region Main */

/* Hero */

.hero {
    height: 635px;
    background-color: var(--hero_color);
}

.hero h1 {
    font-size: 68px;
    padding-top: 5rem;
    line-height: 6rem;
}

.hero_text p {
    margin: 2rem 0 1.5rem;
}

.hero_text :nth-child(3) {
    margin-top: 1rem;
    font-size: 0.75rem;
}

.hero_text>div {
    font-size: 3rem;
}

.hero_img {
    margin-top: 2rem;
}

/* Plans */

.radio {
    margin: 4rem 0;
}

.container>h2 {
    margin-top: 9rem;
}

.types_text .free_trial {
    margin-left: 30px;
    margin-top: 30px;
    text-decoration: none;
    color: var(--light_color);
}

hr {
    width: 20%;
    color: var(--period_color);
}

ul.main_features {
    list-style: none;
    margin-bottom: 8rem;
}

ul.main_features>li{
    line-height: 2rem;
    font-size: 0.85rem;
}

ul.main_features i {
    color: var(--btn_color);
}
