:root {
    --menu_text: #2C2C2C;
    --hero_color: #B4D0E7;
    --btn_color: #0061FF;
    --light_color: #FEFEFF;
    --team_square_color: #F5F5F5;
    --team_footer_color: #61082B;
    --period_color: #6A7986;
    --designit: #A2D39B;
    --uof: #0093CE;
    --lonely_planet: #0D2481;
    --asu: #61082B;
    --hearst: #B4D0E7;
    --wbr: #D5001F;
    --topps: #FF1C1C;
    --cco: #FFD830;

}

/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1440px;
    font-family: 'Open-Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--menu_text);
}

header {
    padding: 0.75rem;
}

img {
    max-width: 100%;
}

/* #region Utility */

.container {
    width: 70%;
    max-width: 960px;
    margin: 0 auto;
}

.container_large {
    width: 90%;
    max-width: 1160px;
    margin: auto;
}

.container_full {
    width: 100%;
    max-width: 1440px;
}

.row {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

[class^="col_"] {
    float:left;
}

.col_20 {
    width: 20%;
}

.col_30 {
    width: 30%;
}

.col30_center {
    margin: 0 3rem;
}

.col_40{
    width: 40%;
}

.col_50 {
    width: 50%;
    position: relative;
}

.col_60 {
    width: 60%;
}

.col_100 {
    width: 100%;
    position: relative;
}

.who {
    border: 1px solid #DEDEE0;
    border-bottom: 0;
    padding: 0.75rem;
    text-align: center;
    margin-top: 4rem;
}

.types {
    border: 1px solid #DEDEE0;
}

.types_text {
    width: 85%;
    margin: auto;
    position: relative;
}

.container_full .col_30 img {
    max-width: 50%;
    padding: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
    position: absolute;
    left: 10%;
    top: 30%;
    filter: invert(1);
}

/* Text */

ul.inline_list {
    list-style: none;
    display: inline-block;
}

ul.inline_list>li {
    display: inline-block;
}

.text_right {
    text-align: right;
}

.types h3 {
    margin-top: 1.5rem;
}

.types h5 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

p.period {
    color: var(--period_color);
}

.types_text p {
    font-size: 0.85rem;
    margin: 2rem 0;
}

.types_text a {
    text-decoration: underline;
    color: blue;
}

.free_trial .days {
    color: var(--light_color);
    text-decoration: none;
}


/* #region Header */

.navigation .menu_left a,
.navigation .menu_right a{
    padding: 0.5rem;
}

.navigation .logo>img {
    vertical-align: sub;
}

.btn {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

.btn_primary {
    background-color: var(--btn_color);
    color: var(--light_color);
}

.padd_1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* #region Main */

/* Hero */

.hero {
    height: 635px;
    background-color: var(--hero_color);
}

.hero h1 {
    font-size: 68px;
    padding-top: 5rem;
    line-height: 6rem;
}

.hero_text p {
    margin: 2rem 0 1.5rem;
}

.hero_text :nth-child(3) {
    margin-top: 1rem;
    font-size: 0.75rem;
}

.hero_text>div {
    font-size: 3rem;
}

.hero_img {
    margin-top: 2rem;
}

/* Plans */

.radio {
    margin-top: 4rem;
}

.container>h2 {
    margin-top: 9rem;
}

.types_text .free_trial {
    width: 100%;
    margin: auto;
    background-color: var(--btn_color);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

hr {
    width: 20%;
    color: var(--period_color);
}

ul.main_features {
    list-style: none;
    margin-bottom: 10rem;
}

ul.main_features>li{
    line-height: 3rem;
    font-size: 0.85rem;
}

ul.main_features i {
    color: var(--btn_color);
}

#plus {
    margin-bottom: 13rem;
}

.sell_btn {
    position: absolute;
    right: 0;
    top: 0;
}

#sell_office {
    text-decoration: none;
    color: var(--light_color);
}

/* Partners */

.partners h3 {
    padding: 1.5rem;
}

.partners p {
    padding: 0 1.5rem;
    font-size: 0.85rem;
    line-height: 1.5rem;
}

.find_partners {
    margin: 1.5rem 1.5rem;
    border: 1px solid;
}

.partners .col_40 {
    margin-top: 3rem;
}

.partners .row {
    margin-top: 7rem;
}

/* Features */

.features h3 {
    font-size: 1.1rem;
}

.features p {
    font-size: 0.85rem;
    margin-top: 2rem;
}

.features .col_30 {
    margin-top: 5rem;
}

.features .row {
    margin-top: 7rem;
}

/* Teams */

.teams h2 {
    line-height: 2rem;
}

.teams .container {
    margin-top: 8rem;
}

.find_more {
    text-decoration: underline;
    color: blue;
    font-size: 0.85rem;
    margin-top: 2rem;
    display: inline-block;
}

.designit {
    background-color: var(--designit);
    border: 8px solid rgba(255, 255, 255, 0.459);
}

.asu {
    background-color: var(--asu);
}

.uof {
    background-color: var(--uof);
}

.topps {
    background-color: var(--topps);
}

.teams>.container_full .col_50 {
    height: 216px;
    color: white;
}

.teams>.container_full .row {
    margin-top: 3rem;
}

.container_full .col_40{
    background-color: var(--team_square_color);
    height: 432px;
}

.container_full .col_100 img {
    max-width: 20%;
    margin: 2rem;
}

.container_full hr {
    width: 10%;
    margin-top: 2rem;
    margin-left: 2rem;
}

.col_100_text {
    margin: 2rem;
    font-size: 0.85rem;
}

#author {
    margin-top: 3rem;
}

.wbr {
    background-color: var(--wbr);
}

.hearst {
    background-color: var(--hearst);
}

.lonely_planet {
    background-color: var(--lonely_planet);
}

.cco {
    background-color: var(--cco);
}

/* Call to Action */

.call_to_action>.container_full {
    background-color: var(--hero_color);
    height: 300px;
}

.call_to_action h2 {
    font-size: 2.5rem;
    margin-top: 7rem;
    color: var(--team_footer_color);
}

.call_to_action .col_50 {
    position: relative;
}

.call_to_action .btn {
    background-color: var(--light_color);
    padding: 0.5rem 2rem;
    position: absolute;
    left: 50%;
    margin-top: 7rem;
}

/* Faq */

.faq hr {
    width: 100%;
    margin: 2rem 0;
}

.arrow {
    position: absolute;
    right: 0;
    bottom: 45%;
}

.arrow_df {
    position: absolute;
    right: 0;
    bottom: 80%;
}




